@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin text-shadow($shadow) {
    -webkit-text-shadow: $shadow;
    -moz-text-shadow: $shadow;
    -ms-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin transition($trasitionoptions) {
    -webkit-transition: $trasitionoptions ease-out;
    -moz-transition: $trasitionoptions ease-out;
    -ms-transition: $trasitionoptions ease-out;
    transition: $trasitionoptions ease-out;
}

@mixin rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

@mixin align-items-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
}

@media (min-width:1430px) {
    .container {
        width:1400px;
    }
}

@mixin z-index-top {
    z-index: 20;
}

@mixin z-index-bottom {
    z-index: 10;
}

@mixin wave {
    content:'';
    display: block;
    width: 114px;
    height:28px;
    background: url(../img/wave.png)no-repeat center;
    margin: 20px auto 20px;
}

i.yellow {
    color:#ffda2c;
}

i.orange {
    color:#ec9000;
}

i.red {
    color:#ff2c2c;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}